.scheduling{
    padding: 8px 10px;
    background: rgba(0,0,0,0.1);
      .box{
        background: #fff;
        .top_biaot{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #eee;
            padding: 0 20px;
            >p{
                font-size: 22px;
            }
            .el-radio-group{
                margin: 0 !important;
            }
        }
        .rqi{
            padding: 20px;
        }
    }
}